<div class="detail-container pokedex-box">

  <a routerLink="/" class="pokedex-link">← Retour à la liste</a>

  @if (pokemon(); as p) {
  <div class="screen pokedex-screen">
    <h1>{{ Name() }}</h1>
    @if (variants().length > 0) {
    <div class="variants">
       @if (currentName() !== baseName) {
        <button class="variant-button" (click)="onBackToBaseForm()">
          Forme de base
        </button>
      }
      @for (variant of variants(); track variant) {
      <button class="variant-button" [class.active]="variant.slug === currentName()" (click)="onSelectVariant(variant.slug)">
        {{ variant.label }}
      </button>
      }
    </div>
    }

    <div class="image-and-descriptions">

      <!-- Colonne de gauche : image + types + taille/poids -->
      <div class="left-column">
        <img [src]="p.sprites.front_default" [alt]="p.name">

        <div class="types">
          @for (t of p.types; track t.type.name) {
          <span class="type-badge" [style.background]="getTypeColor(t.type.name)">
            {{ t.type.name }}
          </span>
          }
        </div>
        <p>Taille : {{ convertHeight(p.height) | number:'1.0-0' }} cm</p>
        <p>Poids : {{ convertWeight(p.weight) | number:'1.1-1' }} kg</p>
      </div>

      <!-- Colonne de droite : les descriptions -->
      <div class="descriptions">
        @for (entry of descriptions(); track entry.text) {
        <div class="description-entry">
          {{ entry.text }}
        </div>
        }
      </div>

    </div>
  </div>

  } @else {
  <p>Chargement...</p>
  }

</div>