<div class="detail-container">

  <a routerLink="/">← Retour à la liste</a>

  @if (pokemon(); as p) {
    <div class="screen">
      <h1>{{ p.name }}</h1>
      
      <img [src]="p.sprites.front_default" [alt]="p.name">

      <p>Taille : {{ convertHeight(p.height) | number: '1.0-2'}} cm</p>
      <p>Poids : {{ convertWeight(p.weight) | number: '1.0-2'}} kg</p>

      <div class="types">
        @for (t of p.types; track t.type.name) {
          <span class="type-badge" [style.background]="getTypeColor(t.type.name)">{{ t.type.name }}</span>
        }
      </div>
    </div>

  } @else {
    <p>Chargement...</p>
  }

</div>